[submodule ".registry"]
	path = .registry
	url = https://github.com/diseasemapping/diseasemapping.r-universe.dev
	branch = HEAD
[submodule "mapmisc"]
	path = mapmisc
	url = https://gitlab.com/diseasemapping/mapmisc
